<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean class="com.app.Model" name="modelObj" p:modelId="88"
		p:modelName="mi-4" p:modelVersion="4.8" />

	<bean class="com.app.Product" name="productObj" p:productId="67"
		p:productName="redmi" p:productCost="7000" p:mob-ref="modelObj" />
</beans>
